<div class="col-6 mx-auto">

    <div class="d-grid gap-5">

        <div class="container p-5">
            <textarea class="form-control text-center" placeholder="Insert sightings' ID's here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
        </div>

        <div class="container p-1 text-center">
            <button type="button" class="btn btn-primary btn-lg">Generate</button>
        </div>
    </div>
</div>

<!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Found in cycle</th>
                            <th>Priority</th>
                            <th>New issue</th>
                            <th>Regression</th>
                            <th>Status Reason</th>
                            <th>Component</th>
                            <th>TestCount impact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sighting of sightings">
                            <td>{{sighting.id}}</td>
                            <td>{{sighting.title}}</td>
                            <td>{{sighting.foundInCycle}}</td>
                            <td>{{sighting.priority}}</td>
                            <td>{{sighting.newIssueStatus}}</td>
                            <td>{{sighting.regressionStatus}}</td>
                            <td>{{sighting.statusReason}}</td>
                            <td>{{sighting.component}}</td>
                            <td>wip</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->

<div class="col-6 mx-auto">
    <div class="d-grid gap-5">
        <button type="button" class="btn btn-primary mx-auto" routerLink="">Back</button>
    </div>
</div>