<div class="container">
    <div class="row row-cols-lg-2 g-lg-3">
        <div class="col">
            <div class="container p-5 text-center">
                <button type="button" class="btn btn-primary btn-lg" routerLink="/generate"
                    routerLinkActive="active">Generate report</button>
            </div>
        </div>
        <div class="col">
            <div class="container p-5 text-center">
                <button type="button" class="btn btn-primary btn-lg" routerLink="/add"
                    routerLinkActive="active">Add/update sighting to
                    database</button>
            </div>
        </div>
    </div>
</div>